# Python
.venv/
__pycache__/
*.pyc

# Proje çıktı/indirilenler
tiktok_oto_mimari/indirilenler/
*.mp4
*.webm

# OAuth / gizli
**/client_secret.json
**/token.json
.env

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
